.load-script {
    margin-right: 250px;
    margin-top: 50px;
    margin-left: 250px;
}

.file-input {
    display: none;
}

.role-item {
    margin-left: 15px;
}

.role-image {
    max-height: 150px;
    max-width: 700px;
}

.town-color {
    color: #0099ff;
}

.demon-color {
    color: #ff1a1a;
}

.form-element {
  width: 25%;
}
