<div class="p-3 text-center">
    <h5>Game Board</h5>
</div>

<div class="row gy-5" *ngFor="let obj of activePlayers">
    <div class="col-md-2">
        <input mdbInput type="text" [(ngModel)]="obj.playerName" (change)="update()" id="player{{obj.playerIndex}}" class="form-control" [disabled]="true">
    </div>
    <div class="col-md-2">
      <input mdbInput type="text">
    </div>
    <div class="col-md-5">
      <div *ngIf="obj.playerRole !== undefined">
        <img [src]="obj.playerRole.print" class="print">
      </div>
    </div>
    <div class="col-md-3">

    </div>
</div>
